@using Microsoft.AspNetCore.Identity
@using assOneFinal.Models.AccountViewModels


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
   <h1>Secret Index</h1>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
         
        </ul>
    <p>I did it and stuff. I'm also looking for a good chicken parm recipe; you got a hook up fam?</p>
}
else
{
    <h1>Welcome to this place</h1>
  
        <p>You look nice today...</p>
}

